.modal{
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content{
    padding: 25px;
    width: 400px;
    height: 200px;
    background: white;
    border-radius: 10px;
    transform: scale(0.5);
    transition: 0.4s;
}

.modal__content.active{
    transform: scale(1);

}
